<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regression">

	<!-- I am learning testng xml -->

	<test name="TestInfinity">
		<classes>
			<class name="com.qa.testNg.ClassOne">
				<methods>
					<include name="facebookTest" />
				</methods>
			</class>
			<class name="com.qa.testNg.ClassTwo" />
		</classes>
	</test>
</suite>
